*.py[cod]


# Coverge folder
htmlcov/

# Sort Micellaneous folder
sort/

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Sphinx
docs/_build

# Images
*.svg
*.png

# Sublime Test files
*.sublime-project
*.sublime-workspace

# data output folder
sample_data/output

# omnioutliner files
*oo3

# miscellaneous
support/
pickles/

# pycharm stuff
.idea/

# notebooks to exclude
.ipynb_checkpoints/
nb_eps_test_run.ipynb
nb_mertis_fix_4_scenarios.ipynb
nb_mertis_fix_option_b.ipynb
nb_mpld3.ipynb