Jinja2==2.7.3
coverage==3.7.1
ipython==2.3.0
matplotlib==1.4.1
pandas==0.14.1
plotly==1.2.6
pytest==2.6.3
pyzmq==14.4.0
quantities==0.10.1
tornado==4.0.2
backports.ssl-match-hostname==3.4.0.2
numpy
scipy